# ==============================================================================
# BACKEND (Go Artifacts)
# ==============================================================================

# Binaries for programs and plugins
backend/*.exe
backend/*.exe~
backend/*.dll
backend/*.so
backend/*.dylib

# Compiled binary output
backend/main
backend/[A-Za-z0-9_-]

# Test binaries built with 'go test -c'
backend/*.test

# Output of the go coverage tool
backend/*.out
backend/*.prof

# Dependency directories (Uncomment if using vendoring)
# backend/vendor/


# ==============================================================================
# SECRETS & ENVIRONMENT CONFIG
# ==============================================================================
backend/.env
backend/.env.local

# ==========================================
# FRONTEND (Next.js) CONFIGURATION
# ==========================================

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# next.js build and production
frontend/.next/
frontend/out/
frontend/build

# debug logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/.pnpm-debug.log*

# local env files (Secret Keys)
frontend/*.env.local
frontend/*.env.development.local
frontend/*.env.test.local
frontend/*.env.production.local

# hosting & typescript
frontend/.vercel
frontend/*.tsbuildinfo
frontend/next-env.d.ts


# ==============================================================================
# SYSTEM & MISC
# ==============================================================================
.DS_Store
